[Service]
ExecStart=/usr/bin/node /home/matt/src/roonrest
Restart=always
StandardOutput=null
SyslogIdentifier=roonrest
User=matt
Group=matt
Environment=NODE_ENV=production
WorkingDirectory=/home/matt/src/roonrest

[Install]
WantedBy=multi-user.target
