[Service]
ExecStart=/usr/bin/node /home/matt/roonrest
Restart=always
StandardOutput=/dev/null
StandardError=syslog
SyslogIdentifier=roonrest
User=matt
Group=matt
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
